@charset "utf-8";

/* webfont */
/* 웹폰트없으면 지우세요!!! */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  /* Prevent font scaling in landscape */

  -webkit-text-size-adjust: none;
  /*Chrome, Safari, newer versions of Opera*/

  -moz-text-size-adjust: none;
  /*Firefox*/

  -ms-text-size-adjust: none;
  /*Ie*/

  -o-text-size-adjust: none;
  /*old versions of Opera*/
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 14px;
  line-height: 1.5em;
  color: #3e3e3e;
  font-weight: 400;
}

#wrap {
  min-width: 1360px;
  overflow: hidden;
}

/* header_S */
#header {
  background-color: #3e3e3e;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;

}

.inner_header {
  width: 1320px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.inner_header .logo {
  padding: 16px 0;
}

.inner_header .util {
  padding: 16px 0 7px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.nav .util li a {
  display: block;
  color: #D6CFC4;
  padding-left: 20px;
}

.nav .gnb {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.nav .gnb li {
  padding-left: 70px;
}

.nav .gnb li a {
  display: block;
  color: #D6CFC4;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.nav .gnb li a:hover {
  color: #6a1e3a;
}

.res_btn {
  display: inline-block;
  width: 83px;
  height: 24px;
  background-color: #6A1E3A;
  padding: 4px 26px;
  text-align: center;
}

.res_btn:hover {
  color: #6a1e3a;
  background-color: #D6CFC4;
}

/* header_E */

/* MainVisual_S */
.section {
  height: 800px;
  display: flex;
  background-color: #3e3e3e;
}

#section_wrap {
  position: relative;
  overflow: hidden;
  height: 800px;
}

.section4 {
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99;
  width: 1920px;
  transform: translateX(-50%);
}

.bg2 {
  transition: all .6s;
  position: relative;
  width: 0%;
  margin: 0 auto;
  overflow: hidden;
}

.bg2 img {
  width: 100vw;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
}

.widthAni {
  width: 100%;
}

/* MainVisual_E */

/*intro_S*/
#intro {
  background-color: #6a1e3a;
  height: 400px;
}

.inner_intro {
  width: 1320px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
  color: #D6CFC4;
}

.inner_intro .title {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
}

.keyimg {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  box-sizing: border-box;
}

.inner_intro img {
  display: block;
  text-align: center;
}

.inner_intro .content {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

/*intro_E*/


/* Visual_S */
#slide {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}

.swiper {
  width: 100%;
  height: 800px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 8px);
  left: 0;
  top: 800px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url(../images/Visual/leftbtn.svg);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 33px;
  left: auto
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url(../images/Visual/rightbtn.svg);
}

/* Visual_E */

/*-- introduce_S */
#introduce {
  background-color: #B28990;
  height: 800px;
  cursor: url(../images/favicon/cursor.svg)0 0, auto;
}

.inner_introduce {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
  box-sizing: border-box;
}

.arch {
  width: 600px;
  display: flex;
}

.arch img {
  display: block;
  width: 100%;
  text-align: center;
}

.packageintro {
  text-align: center;
  color: #ffffff;
  width: 600px;
}

.packageintro .packagetitle {
  font-size: 24px;
  line-height: 45px;
  font-weight: 700;
  font-family: "Noto Sans Display", sans-serif;
}

.packageintro .keysymbol {
  display: block;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.packageintro .middletitle {
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
  font-family: "Noto Sans Display", sans-serif;
}

.packageintro .period {
  font-size: 15px;
  line-height: 45px;
  font-weight: 500;
  font-family: "Noto Sans Display", sans-serif;
  margin-bottom: 107px;
}

.textdetail {
  margin-bottom: 20px;
}

.packageintro a {
  font-weight: 700;
  background-color: #6a1e3a;
  padding: 6px 24px;
  width: 101px;
  height: 31px;
  border-radius: 20px;
  display: inline-block;
  box-sizing: border-box;
}

.packageintro a:hover {
  color: #6A1E3A;
  background-color: #D6CFC4;
}

/*-- introduce_E */

/*-- program1_S */
#program1 {
  background-color: #E6E2DC;
  height: 800px;
  padding: 120px 0;
  box-sizing: border-box;
}

.inner_program1 {
  width: 1320px;
  margin: 0 auto;
  color: #6A1E3A;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.programsymbol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.flex-container {
  height: 465px;
  width: 1320px;
  margin: 0 auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  overflow: hidden;
}


.flex-title {
  color: #ffffff;
  position: relative;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: auto;
  text-align: center;
  transform: rotate(90deg);
  top: 15%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


.flex-about {
  opacity: 0;
  color: #ffffff;
  position: relative;
  width: 70%;
  padding: 5%;
  top: 20%;
  margin: auto;
  text-align: center;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


.flex-slide {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


.flex-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../images/staybenefit/room.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../images/staybenefit/lounge.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contact-form {
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../images/staybenefit/checkin.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.work {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../images/staybenefit/concierge.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  height: 100%;
  width: 100%;
  z-index: 11;
  margin-top: 0;
  color: #fff;
  font-size: 1em;
}

.cube1,
.cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*-- program1_E */

/*-- program2_S */
#program2 {
  background: url(../images/program/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1130px;
  cursor: url(../images/favicon/cursor.svg)0 0, auto;
}

.inner_program2 {
  margin: 0 auto;
  width: 1320px;
  padding: 120px 0;
  box-sizing: border-box;
}

.bigtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #6A1E3A;
  text-align: center;
}

.ul_wrap {
  flex-wrap: wrap;
}

.programdetail,
.programdetail2 {
  display: flex;
  justify-content: center;
  gap: 170px;
}

.ul2 {
  margin-top: 20px;
}

.img_wrap {
  overflow: hidden;
  border-radius: 20px;
}

.img_wrap img {
  display: block;
  transform: scale(1);
  transition: transform 0.3s;
}

.img_wrap img:hover {
  transform: scale(1.1);

}

.pro_text {
  text-align: center;
}

.pro_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 11px 0;
}

.pro_btn a {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  padding: 7px 60px;
  box-sizing: border-box;
  width: 240px;
  height: 34px;
  border-radius: 30px;
  background-color: #6A1E3A;
}

.pro_btn a:hover {
  color: #6a1e3a;
  background-color: #D6CFC4;
}

.pro_btn2 a {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  height: 34px;
  border-radius: 30px;
  background-color: #6A1E3A;
  padding: 7px 5px;
}

.pro_btn2 a:hover {
  color: #6A1E3A;
  background-color: #D6CFC4;
}

.pro_content {
  margin-top: 25px;
}

/*-- program2_E */

/*-- dining_S */
#dining {
  background-color: #E6E2DC;
  height: 960px;
  text-align: center;
}

.inner_dining {
  width: 1320px;
  margin: 0 auto;
  padding: 120px 0;
  box-sizing: border-box;
}

.dining_detail {
  display: flex;
  justify-content: center;
  gap: 92px;
}

.cover_wrap {
  position: relative;
}

.cover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.5s;
}

.cover:hover {
  opacity: 1;
}

.cover_wrap img {
  display: block;
}

/*-- dining_E*/

/*-- gift_S*/
#gift {
  height: 800px;
  background-image: url(../images/gift/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.inner_gift {
  margin: 0 auto;
  width: 1320px;
  padding: 120px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.textbox {
  width: 600px;
  height: 558px;
  line-height: 25px;
}

.textbox strong {
  color: #6A1E3A;
  font-weight: 700;
}

.textbox p {
  padding: 312px 0 0 147px;
}

.giftimg {
  width: 660px;
  height: 558px;
  background-image: url(../images/gift/gift1.png);
  background-position: center;
  background-repeat: no-repeat;
  animation: gifts 6s linear infinite;
}

@keyframes gifts {
  0% {
    background-image: url(../images/gift/gift1.png);
  }

  100% {
    background-image: url(../images/gift/gift2.png);
  }
}

/*-- gift_E*/

/*-- schedule_S*/
#schedule {
  height: 918px;
  background: url(../images/schedule/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
   cursor: url(../images/favicon/cursor.svg)0 0, auto;
}

.inner_schedule {
  margin: 0 auto;
  width: 1320px;
  padding: 120px 0;
  box-sizing: border-box;
}

.date {
  margin-bottom: 68px;
}

.date ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.date ul li {
  background-color: rgba(0, 0, 0, 0.5);
  width: 296px;
  height: 214px;
  position: relative;
  display: flex;
  padding-left: 30px;
  gap: 20px;
  padding-top: 54px;
  box-sizing: border-box;
}

.date ul li .day {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #6A1E3A;
  color: #D6CFC4;
  font-size: 18px;
  line-height: 27px;
  padding: 2px;
  width: 85px;
  height: 33px;
  text-align: center;
}

.dayimg {

  width: 11px;
  height: 103px;
}

.datetext {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.datetext p {
  padding-bottom: 20px;
}

.benefit {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.benefit li {
  position: relative;
}

.flo img {
  display: block;
  width: 100%;
}

.benefit p {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 64px;
  left: 45px;
  z-index: 99;
  text-align: center;
}
.benefit p:hover{
  color: #6a1e3a;
}
.benefit li:nth-child(3) p {
  padding-left: 5px;
}

.benefit li:nth-child(4) p {
  padding-left: 5px;
}

.benefit li:nth-child(5) p {
  padding-right: 5px;
}

.benefit li:nth-child(6) p {
  padding-left: 5px;
}

/*-- schedule_E*/


/*-- price_S*/
#price {
  background: url(../images/price/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 790px;
}

.inner_price {
  margin: 0 auto;
  width: 1320px;
  padding: 120px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price_wrap {
  display: flex;
  margin-bottom: 64px;
}

.pricetext {
  width: 652px;
  height: 410px;
  background-color: #ffffff;
  text-align: center;
  padding: 58px 0 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package_name {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #6a1e3a;
}

.packagevideo,
.packagevideo video {
  width: 315px;
  height: 410px;
}

.packagevideo video {
  display: block;
  object-fit: cover;
}

.package_date {
  color: #6A1E3A;
  margin-bottom: 28px;
}

.symbol_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol_text img {
  display: block;
}

.package_price {
  padding-left: 13px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #B86E79;
}

.package_tax {
  color: #B86E79;
  padding-left: 35px;
  margin-bottom: 70px;
}

.package_caution {
  text-align: left;
}

.inner_price a {
  width: 101px;
  height: 31px;
  background-color: #6A1E3A;
  color: #FFFFFF;
  display: inline-block;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
}
.inner_price a:hover{
   color: #6A1E3A;
  background-color: #D6CFC4;
}

/*-- price_E*/

/*-- notice_S*/
#notice {
  background: url(../images/notice/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 790px;
   cursor: url(../images/favicon/cursor.svg)0 0, auto;
}

.inner_notice {
  margin: 0 auto;
  width: 1320px;
  padding: 24px 0 128px;
  box-sizing: border-box;
}

.total_notice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notice_box {
  width: 866px;
  height: 534px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.notice_wrap {
  width: 420px;
  height: 252px;
  border-radius: 20px;
}

.box_top {
  width: 420px;
  height: 80px;
  background-color: #6A1E3A;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 26px 0 26px 16px;
  box-sizing: border-box;
}

.box_top img {
  display: block;
}

.box_top p {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #D6CFC4;
}

.box_bottom {
  width: 420px;
  height: 172px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  border: 2px solid #6A1E3A;
  box-sizing: border-box;
  padding: 18px 0 0 72px;
}

.box_bottom ul {
  list-style: disc;
}

.first {
  padding-bottom: 30px;
}

/*-- notice_E*/

/*-- text_flow_S*/
#flow_wrap{
  width: 1920px;
  margin: 0 auto;
}
        @keyframes flow1{
            from{
                transform: translateX(-50%);
            }
            to{
                transform: translateX(50%);
            }
     
        }
    
        #flow1{
 font-family: "Noto Sans Display", sans-serif;
                overflow: hidden;
                    background-color: #6A1E3A;
        }
        .track1{
          color:#ffffff;
          font-style: italic;
            font-size: 30px;
            line-height: 1.5em;
            font-weight: 500;
            white-space: nowrap;
             font-family: "Noto Sans Display", sans-serif;
       animation: flow1 10s infinite linear;
            }
/*-- text_flow_E*/

/*-- footer_S*/
#footer {
  background-color: #3e3e3e;
  width: 100%;
  min-height: 380px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.inner_footer {
  margin: 0 auto;
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-top: 46px;
  box-sizing: border-box;
}

.footerutil {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.footerutil li a{
  display: block;
  padding-right: 15px;
}
.footerutil li a:hover{
  color: #6A1E3A;
}

.left_footer .rsvn{
  margin: 20px 0;
}
.left_footer .p_number{
font-weight: 700;
font-size: 18px;
line-height: 27px;
}

.right_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}
.footer_logo {
  margin-top: auto; 
}

.footer_logo img{
  display: block;
}

.right_footer .social {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 60px;
}
.right_footer .social li a{
  display: block;
}

.top_btn {
    position: fixed;
    bottom: 100px;
    right: 40px;
}

/*-- footer_E/*